@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lilita+One&display=swap');


:root {
    --color1: #1D2228;
    --color2: #E1E2E2;
    --color3: #a1a1a1;
    --color4: #1A2238;
    --color5: #d2d1d1;

}

* {
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
}

html {
    background-color: var(--color1);
}

nav {
    display: flex;
    align-items: center;
    padding-left: 2vmin;
    background-color: var(--color2);
    height: 10vh;
    width: 100vw;
    /* border-bottom: 2px solid var(--color4); */
    position: fixed;
}

.logo {
    width: 5vmin;
    margin-right: 1vmin;
    cursor: pointer;
    transition: all 0.2s ;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none;

}

.logo:hover{
    /* background-color: var(--color5); */
    box-shadow: 0px 0px 2px ;
}

.logo:active{
    background-color: var(--color5);
}

.heading {
    color: var(--color4);
    font-size: 4.5vmin;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
}

nav #gridicon {
    width: 4vmin;
    position: fixed;
    right: 40vw;
    cursor: pointer;
    
}

nav #gridicon:active{
    background-color: var(--color3);
}

.allButtons {
    position: fixed;
    right: 1vw;
    display: flex;
    justify-content: center;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
}

#deleteAll,
#checkAll {
    cursor: pointer;
    border: 1px solid var(--color4);
    background-color: var(--color1);
    border-radius: 20px;
    color: var(--color4);
    text-align: center;
    height: 2vmax;
    width: 16vw;
    margin: 1vmin;
    font-weight: 500;
    font-size: 16px;
    color: white;
}

#deleteAll:hover,
#checkAll:hover {
    border: 2px solid var(--color4);
}

#deleteAll:active,
#checkAll:active {
    background-color: var(--color3);
}

.outer {
    display: flex;
    position: absolute;
    top: 10vh;
}

.left {
    height: 100vh;
    width: 25vw;
    background-color: var(--color2);
    /* border-right: 1px solid var(--color4); */
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    left: -100%;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
    transition: all 0.4s ease;
}

.left.activated{
    left: 0;
}

.head{
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 10vh;
    transition: all 0.4s ease;

}

.left-list {
    color: var(--color4);
    padding: 18px 16px;
    background-color: var(--color2);
    margin: 0px 0 0px 6px;
    border-bottom: 1px solid var(--color1);
    border-right: 1px solid var(--color2);;
    cursor: pointer;
    transition: all 0.4s ease;
}

#alltaskbtn{
    border-top: 1px solid var(--color1);
    
}

#alltaskbtn.colored {
    background-color: var(--color1);
    color: white;
}

#pendingbtn.colored {
    background-color: var(--color1);
    color: white;
}

#completedbtn.colored {
    background-color: var(--color1);
    color: white;
}

.right {
    height: 90vh;
    width: 100vw;
    position: fixed;
    top: 10vh;
    left: 0;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.right.activated{
    left: 25vw;
    width: 75vw;
}

.inputbar {
    height: 10vh;
    width: 100vw;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.4s ease;
    
}

.right.activated .inputbar{
    width: 75vw;
}

.inputbar input {
    width: 77%;
    height: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color2);
    color: var(--color4);
    /* border: 1px solid var(--color4); */
    outline: none;
    cursor: text;
    font-size: 16px;
}

#btn {
    width: 20%;
    height: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color2);
    color: var(--color4);
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
}

#btn:hover {
    background-color: var(--color5);
}

#btn:active {
    background-color: var(--color3);
}

input::placeholder {
    color: var(--color4);
    font-size: 17px;
}

ul {
    width: 100vw;
    height: 80vh;
    overflow-y: scroll;

    min-width: 40px;
    list-style: none;
    padding: 0 0 20px 0;
    left: 0vw;
    top: 20vh;
    transition: all 0.4s ease;
    /* padding: 0 100px; */
    
}
.right.activated ul{
    width: 75vw;
}

ul li {
    min-height: 40px;
    width: 94%;
    display: flex;
    
    margin: 4px auto;
    min-height: 40px;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--color1);
}


li div {
    background-color: var(--color2);
    width: 80%;
    
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: default;
    color: var(--color4);
    
}

.editicon {
    background-color: var(--color2);
    margin: 0 0 0 4px;
    min-height: 40px;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#completed-task  .editicon{
    display: none;
}
#pending-task  .editicon{
    display: none;
}

.crossicon {
    background-color: var(--color2);
    margin: 0 0 0 4px;
    min-height: 40px;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 10px 10px 0;
}

.crossicon:hover {
    background-color: var(--color3);
    cursor: pointer;
}

.crossicon:active {
    background-color: var(--color1);
}

.editicon:hover {
    background-color: var(--color3);
    cursor: pointer;
}

.editicon:active {
    background-color: var(--color2);
}

li div.checked {
    text-decoration: line-through;
    text-decoration-color: var(--color4);
    text-decoration-thickness: 2px;
}

li input {
    padding: 0;
    margin: 0;
    font-size: 16px;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    /* height: 20px; */
    cursor: text;
    
}

.checkicon{

    background-color: var(--color2);
    margin: 0 4px 0 0;
    min-height: 40px;
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
}

.checkicon:hover {
    background-color: var(--color3);
    cursor: pointer;
}

.checkicon:active {
    background-color: var(--color2);
    cursor: pointer;
}

ul img {
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
}

#all-task {
    background-color: var(--color1);
    position: fixed;
    left: 100vw; 
}

#pending-task {
    background-color: var(--color1);
    position: fixed;
    left: 100%;
}

#completed-task {
    background-color: var(--color1);
    position: fixed;
    left: 100%;
}

#all-task.open {
    left: 0vw;
}

.right.activated #all-task.open {
    left: 25vw;
}

#pending-task.open {
    left: 0vw;
}

.right.activated #pending-task.open {
    left: 25vw;
}

#completed-task.open {
    left: 0vw;
}

.right.activated #completed-task.open {
    left: 25vw;
}



/* To style the scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color1);

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color4);
}

@media screen and (max-width : 360px){
    .left.activated{
        width: 100vw;
        z-index: 1000;
    }

    .right{
        width: 100vw;
        left: 0;
        transition: none;
    }

    .right.activated{
        width: 100vw;
        left: 0;
    }
    .right.activated ul{
        width: 100vw;
    }
    .right.activated #all-task.open {
        left: 0;
    }
    .right.activated #pending-task.open {
        left: 0;
    }
    .right.activated #completed-task.open {
        left: 0;
    }
    .right.activated .inputbar{
        width: 100vw;
    }


    .logo{
        width: 30px;
        
    }
    .heading{
        font-size: 30px;
    }
    .head{
        padding-left: 10px;
    }

    #deleteAll,#checkAll{
        width: 60px;
        height: 30px;
        font-size: 9px;
        border-radius: 0;
    }

    ::-webkit-scrollbar {
        width: 6px;
    }

    li{
        border-radius: 0;
    }

    .crossicon{
        border-radius: 0;
    }
    .checkicon{
        border-radius: 0;
    }
    .checkicon img,.crossicon img,.editicon img{
        width: 16px;
    }

    /* .inputbar #inputbox,.inputbar #btn{
        font-size: 12px;
    } */


}
